In [1]:
from scipy.stats import ks_2samp
import numpy as np

In [2]:
from scipy import stats
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
stats.ks_2samp(sample1, sample2)

KstestResult(statistic=0.5454545454545454, pvalue=7.37417839555191e-15)

In [5]:
### Here null hpyothesis that two distributions are identical

In [6]:
### Anomly in my dataset
### High null value if we get
### not enough column
### getting so much outlier
### for cat column:   for gender male, famale in original data but in training data i also get other catogary

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("/config/workspace/aps_failure_training_set1.csv")

In [4]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,pos,453236,na,2926,na,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,pos,72504,na,1594,1052,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,pos,762958,na,na,na,na,na,776,281128,2186308,...,na,na,na,na,na,na,na,na,na,na
4,pos,695994,na,na,na,na,na,0,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na

In [5]:
import numpy as np

In [6]:
df.replace(to_replace='na',value=np.NAN,inplace=True)

In [7]:
drop_columns_name=[]

for columns,missing_percetage in zip((df.isnull().sum()/df.shape[0]).index,(df.isnull().sum()/df.shape[0]).values):

    print(columns,missing_percetage*100)
    if missing_percetage>0.3:
        drop_columns_name.append(columns)

class 0.0
aa_000 0.0
ab_000 77.086326959213
ac_000 5.916325853874213
ad_000 25.422792085774287
ae_000 4.385431634796065
af_000 4.385431634796065
ag_000 1.0473085000552669
ag_001 1.0473085000552669
ag_002 1.0473085000552669
ag_003 1.0473085000552669
ag_004 1.0473085000552669
ag_005 1.0473085000552669
ag_006 1.0473085000552669
ag_007 1.0473085000552669
ag_008 1.0473085000552669
ag_009 1.0473085000552669
ah_000 1.055598540952802
ai_000 1.0362551121918868
aj_000 1.0362551121918868
ak_000 7.6903946059467225
al_000 1.055598540952802
am_0 1.0362551121918868
an_000 1.055598540952802
ao_000 0.9533547032165359
ap_000 1.055598540952802
aq_000 0.9533547032165359
ar_000 4.7778269039460595
as_000 1.0362551121918868
at_000 1.0362551121918868
au_000 1.0362551121918868
av_000 4.38819498176191
ax_000 4.390958328727755
ay_000 1.0473085000552669
ay_001 1.0473085000552669
ay_002 1.0473085000552669
ay_003 1.0473085000552669
ay_004 1.0473085000552669
ay_005 1.0473085000552669
ay_006 1.0473085000552669
ay_007 1.0473085000552669
ay_008 1.0473085000552669
ay_009 1.0473085000552669
az_000 1.0473085000552669
az_001 1.0473085000552669
az_002 1.0473085000552669
az_003 1.0473085000552669
az_004 1.0473085000552669
az_005 1.0473085000552669
az_006 1.0473085000552669
az_007 1.0473085000552669
az_008 1.0473085000552669
az_009 1.0473085000552669
ba_000 1.0666519288161822
ba_001 1.0666519288161822
ba_002 1.0666519288161822
ba_003 1.0666519288161822
ba_004 1.0666519288161822
ba_005 1.0666519288161822
ba_006 1.0666519288161822
ba_007 1.0666519288161822
ba_008 1.0666519288161822
ba_009 1.0666519288161822
bb_000 1.055598540952802
bc_000 4.783353597877749
bd_000 4.786116944843594
be_000 4.3937216756936
bf_000 4.385431634796065
bg_000 1.055598540952802
bh_000 1.055598540952802
bi_000 0.9533547032165359
bj_000 0.9533547032165359
bk_000 38.19774510887587
bl_000 45.13927268707859
bm_000 65.5189565601857
bn_000 72.76168895766553
bo_000 76.53365756604398
bp_000 78.79407538410523
bq_000 80.50182380899746
br_000 81.41096496076047
bs_000 1.1578423786890681
bt_000 0.23764783906267273
bu_000 1.1136288272355477
bv_000 1.1136288272355477
bx_000 5.236542500276334
by_000 0.7433403338123135
bz_000 4.7778269039460595
ca_000 7.596440809107992
cb_000 1.1578423786890681
cc_000 5.23377915331049
cd_000 1.1108654802697027
ce_000 4.3937216756936
cf_000 25.422792085774287
cg_000 25.422792085774287
ch_000 25.422792085774287
ci_000 0.5609594340665414
cj_000 0.5609594340665414
ck_000 0.5609594340665414
cl_000 15.930695258096605
cm_000 16.527578202719134
cn_000 1.0638885818503372
cn_001 1.0638885818503372
cn_002 1.0638885818503372
cn_003 1.0638885818503372
cn_004 1.0638885818503372
cn_005 1.0638885818503372
cn_006 1.0638885818503372
cn_007 1.0638885818503372
cn_008 1.0638885818503372
cn_009 1.0638885818503372
co_000 25.422792085774287
cp_000 4.780590250911905
cq_000 1.1136288272355477
cr_000 77.086326959213
cs_000 1.0445451530894219
cs_001 1.0445451530894219
cs_002 1.0445451530894219
cs_003 1.0445451530894219
cs_004 1.0445451530894219
cs_005 1.0445451530894219
cs_006 1.0445451530894219
cs_007 1.0445451530894219
cs_008 1.0445451530894219
cs_009 1.0445451530894219
ct_000 23.54924284293136
cu_000 23.54924284293136
cv_000 23.54924284293136
cx_000 23.54924284293136
cy_000 23.54924284293136
cz_000 23.54924284293136
da_000 23.54924284293136
db_000 23.54924284293136
dc_000 23.54924284293136
dd_000 4.396485022659445
de_000 4.780590250911905
df_000 7.032718028075605
dg_000 7.032718028075605
dh_000 7.032718028075605
di_000 7.0271913341439145
dj_000 7.02995468110976
dk_000 7.02995468110976
dl_000 7.032718028075605
dm_000 7.035481375041449
dn_000 1.1136288272355477
do_000 4.780590250911905
dp_000 4.786116944843594
dq_000 4.786116944843594
dr_000 4.783353597877749
ds_000 4.786116944843594
dt_000 4.786116944843594
du_000 4.783353597877749
dv_000 4.783353597877749
dx_000 4.7778269039460595
dy_000 4.780590250911905
dz_000 4.7778269039460595
ea_000 4.7778269039460595
eb_000 7.02995468110976
ec_00 17.157621310931802
ed_000 15.930695258096605
ee_000 1.0473085000552669
ee_001 1.0473085000552669
ee_002 1.0473085000552669
ee_003 1.0473085000552669
ee_004 1.0473085000552669
ee_005 1.0473085000552669
ee_006 1.0473085000552669
ee_007 1.0473085000552669
ee_008 1.0473085000552669
ee_009 1.0473085000552669
ef_000 4.780590250911905
eg_000 4.7778269039460595

In [8]:
drop_columns_name

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [9]:
null_report=df.isnull().sum()/df.shape[0]

In [10]:
type(null_report)

pandas.core.series.Series

In [11]:
null_report[null_report>.3]

ab_000    0.770863
bk_000    0.381977
bl_000    0.451393
bm_000    0.655190
bn_000    0.727617
bo_000    0.765337
bp_000    0.787941
bq_000    0.805018
br_000    0.814110
cr_000    0.770863
dtype: float64

In [17]:
len(df.iloc[:,[0]].drop('class',axis=1).columns)

0